

.about-container
{
  display: block;
  margin: 0px auto;
  box-shadow: 1px  5px 20px #077b32;
  margin-top: 200px;
  padding: 30px;
  width: fit-content;
}
h1,h3,h5 {
  color:#fff;
}

.link-btn
{
  
  text-decoration: none;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}

.resume
{
  background-color: yellowgreen;
  color: #000000;
}
.project
{
  background-color: #03a9fc;
  color: #000000;
}